<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page </title>
</head>
<body>
    <h1>LOGIN TO ABC BANK</h1>
<!--    <h2><span th:text="${errorMessage}"/></h2>-->
    <form action="/userDetails" method="post">
        <img src="bank1.jpeg"  width="600" height="300"> </br></br>
        <input type="text" placeholder="Username" name="username" required> </br> </br>
        <input type="email" placeholder="Email" name="email" required> </br> </br>
        <input type="password" placeholder="Password" name="password" required> </br> </br>
        <input type="submit" value="Submit"/></input>
    </form>
        <a href="/register" class="btn btn-link">New User</a>


</body>
</html>