<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION FORM</title>
</head>
<body style="background:yellow;text-align:center">
    <h1>Register yourself with ABC Bank!</h1>
    <form action="/login">
    <input type="text" placeholder="Enter Name" name="username" required> </br> </br>
    <input type="email" placeholder="Enter EmailId" name="email" required> </br> </br>
        <input type="password" placeholder="Enter Password" name="password" required></br> </br>
        <input type="password" placeholder="Confirm Password" name="confirmPassword" required></br> </br>
    <input type="tel" placeholder="Enter Mobile Number" name="mobileNumber" required> </br> </br>
    <input type="text" placeholder="Enter Address" name="address" required> </br> </br>
    <input type="number" placeholder="Enter Account Number" name="accountNumber" required> </br> </br>
    <input type="name" placeholder="Enter Branch Name" name="branchName" required> </br> </br>
    <button type="submit" style="background:blue">Submit</button>
    </form>

</body>
</html>