<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABC Bank Application</title>
</head>
<body style="background:pink;text-align:center;">
    <h1>WELCOME TO ABC BANK</h1>
    <form>
        <img src="bank1.jpeg"  width="600" height="300"> </br></br>
        <input type="text" placeholder="Enter Username" name="uname" required> </br> </br>
        <input type="password" placeholder="Enter Password" name="psw" required> </br> </br>
        <button type="submit">Login</button>
    </form>

</body>
</html>