<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
</head>
<body style="background:orange;text-align:center">
    <h1>Welcome to ABC Bank!!</h1><br><br>
    <h2>Your account details are:</h2> </br></br>

    User Name : <span th:text= "${customerName}"/> <br><br>
    User Id : <span th:text= "${customerId}"/><br><br>
    Email Id : <span th:text= "${emailId}"/><br><br>
    Mobile Number : <span th:text= "${mobileNumber}"/><br><br>
    Address : <span th:text= "${address}"/><br><br>
    Account Number : <span th:text= "${accountNumber}"/><br><br>
    Branch Name : <span th:text= "${branchName}"/>
</body>
</html>